# Audio
*.mp3
*.wav
*.ogg
*.flac
*.m4a
*.wma
*.aac

# Video
*.mp4
*.mkv
*.avi
*.mov
*.wmv
*.flv
*.webm

# Node / Dependências
node_modules/
npm-debug.log
yarn-error.log

# Variáveis de Ambiente e Segredos
.env
.env.*
!.env.example

# Arquivos de Injeção e Cache
/tmp/suno_inject_*
.DS_Store
.suno_chrome_profile/

suno_enpoint.json
